body {
  margin: 0; 
  height: 100vh; 
  background: linear-gradient(to right, #00034f, #4f6a97, #9ed1df); 
  color: white; 
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative; 
}

.card-body {
  background-color: #00000080;
  padding: 1rem;
  flex-grow: 1;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.card:hover .card-body {
  opacity: 1;
}

.modal-content {
  color: black;
}

.modal-header .modal-title {
  color: black; 
}

.modal-body p {
  color: black; 
}

.modal-body {
  max-height: 60vh; 
  overflow-y: auto; 
}

.modal-footer .btn {
  color: white; 
}
